<!-- GET /albums -->

<html>
  <head></head>
  <body>
    <h1>Album ID</h1>

  <% @albums.each do |album| %>
    <div>
      ID: <%= album.id %>
    </div>
    <% end %>



    <!-- ... -->
  </body>
</html>