<!-- Example for GET /albums/1 -->

<html>
  <head></head>
  <body>
    <h1><%= @album.title %></h1>
    <p>
      Release year: <%= @album.release_year%>
      Artist: <%= @artist.name %>
    </p>
  </body>
</html>

